.App {
  margin: 20px auto;
  width:  80%;
}

.App-header {
  margin-bottom: 15px;
}

.App-body {
  border: 3px solid #000;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 1.5em 10px;
}

.App-body .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.App-body h1,
.App-body .count {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}

.App-body h1 .date {
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
}

.App-body .list {
  overflow: hidden;
}

.App-body .section {
  width: 50%;
  float: left;
}

.App-body .section h4 {
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
}

.App-body .section ul {
  list-style: none;
}

.App-body .section ul span {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
}

.App-body .section ul span + span {
  margin-left: 1em;
}