.buttonGroup {
	display: inline-block;
	border: 3px solid #000;
	border-radius: 15px;
	overflow: hidden;
	font-size: 0;
}

.buttonGroup button {
	background: none;
	border: none;
	font-weight: bold;
	font-size: 14px;
	padding:  0 1.5em;
	line-height: 30px;
	cursor: pointer;
}

.buttonGroup button + button {
	border-left: 1px solid #000;
}

.buttonGroup button.active {
	text-decoration: underline;
}

.buttonGroup button:hover {
	background: #EEE;
}